@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities{
    input:-webkit-autofill{
        bckground-color:#374151!important;
        color: #fff;
        -webkit-text-fill-color: #fff !important;
        -webkit-box-shadow: 0 0 0px 1000px #374151 inset !important;
        box-shadow: 0 0 0px 1000px #374151 inset !important;
    }
}
